/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'SlugsRacer';
  src: url('./assets/fonts/SlugsRacer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-game-flame-claro: #FFD700; /* Amarrilo */
  --color-game-flame-medio: #FF8C00;  /* Naranja */
  --color-game-flame-oscuro: #CC0000;  /* Rojo Oscuro */
  --color-game-flame-sombra: #990000;  /* Rojo Sombra */

  --font-primary: 'SlugsRacer', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}

body,html{
  background-image: url('/fondo.jpg');
  scroll-behavior: smooth !important;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6,p,span{
  margin-bottom: 0 !important;
}

ul, li{
  margin-bottom: 0 !important;
  list-style: none !important;
}

a{
  text-decoration: none !important;
}